
<head>
  <title>Lukes Spotify App</title>
  <!-- Responsivity meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles.css">
  </style>
</head>
<script src="/bundle.js" type="module"> </script>

<body>
  <div class="container">
    <div id="title">
      <h1>Lukes Spotify App</h1>
      <button class = "btn btn-default" id="logout-button" onClick = >
        Logout
      </button>
  </div>

    <form id="track-preferences" onsubmit="saveTrackData()">

      {{!-- <div id=time-selector>
    <p> Time period: </p>
        <input type="radio" name="time-period" value="1-month"> 1 Month<br>
        <input type="radio" name="time-period" value="6-months"> 6 Months<br>
        <input type="radio" name="time-period" value="all-time"> All time
    </div>

  <div id=amount-of-tracks>
      <p> Amount of tracks: </p>
      <input type="radio" name="track-amount" value="5"> 5<br>
      <input type="radio" name="track-amount" value="20"> 20<br>
      <input type="radio" name="track-amount" value="50"> 50 <br>
    </div> --}}


    </form>
      
      {{!-- <button class="btn btn-default" id="obtain-new-token">Obtain new token using the refresh token</button>
      <button class="btn btn-default" id="generate-playlist">Generate playlist</button>
      <button class="btn btn-default" id="view-top-tracks">View top tracks</button> --}}


    </div>

    <div id="playlist-db-entries">
      
    </div>

    <div id='tracks-container'>


    </div>
    <div id="playlists">
      <button class="btn btn-default" id="view-user-playlists">View playlists</button>
      <div id='playlist-container'>
      
      </div>
    </div>
    <div id="top-artists">
      <button class="btn btn-default" id="view-top-artists">View top artists</button>
      <div id='top-artists-container'></div>
    </div>

    

    <div id="reccomendations-container">
      
    </div>



  </div>

  <script id="user-profile-template" type="text/x-handlebars-template">

    <div class="logged-in-title">
      <div class="panel-body"> Hello, {{display_name}}</div>
    </div>


      <!---->
    


    <div class="media">
      <div class="pull-left">
        <img class="media-object" width="150" src="{{images.0.url}}" />
      </div>
      <div class="media-body">
        <dl class="dl-horizontal">
          <dt>Display name</dt><dd class="clearfix">{{display_name}}</dd>

          <dt>Profile Image</dt><dd class="clearfix"><a href="{{images.0.url}}">{{images.0.url}}</a></dd>
        </dl>
      </div>
    </div>
  </script>

  <script id="oauth-template" type="text/x-handlebars-template">
    <h2>oAuth info</h2>
    <dl class="dl-horizontal">
      <dt>Access token</dt><dd class="text-overflow">{{access_token}}</dd>
      <dt>Refresh token</dt><dd class="text-overflow">{{refresh_token}}</dd>
    </dl>
  </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <!-- <script src="/script.js" type="module"> </script> -->
  <!-- <script src="/userInfo.js"> </script> -->
  
</body>